<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/shoppingcart.png" href="static/shoppingcart.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopping List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

  </head>

  <body>
    <div class="topnav">
      <a class="active" href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('home') }}">Maps</a>
    </div>
      <div class="shopping-top-container">
        <h1><strong>Shopping List</strong><img src="static/shoppinglist.png" alt="Shopping List" class="shopping-list-icon"></h1>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="flash-messages">
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}
      {% endwith %}

      <div class="shopping-container">
        <h2>Item List</h2>
        {% for item in items %}
        <div class="shopping">
          <p>{{ item.name }}</p>
          <div class="actions">
            <form action="{{ url_for('checked_items', item_id=item.id) }}" method="POST">
              <input type="checkbox" {% if item.checked %}checked{% endif %} onchange="this.form.submit()">
            </form>
            <form action="{{ url_for('edit_items', item_id=item.id) }}" method="GET">
              <button class="edit-button" type="submit">Edit</button>
            </form>
            <form action="{{ url_for('delete_items', item_id=item.id) }}" method="POST">
              <button class="delete-button">Delete</button>
            </form>
          </div>
        </div>
        {% endfor %}
      
        <form action="{{ url_for('home') }}" class="input-container" method="POST">
          <input type="text" placeholder="Enter items here" id="input_items" name="input_items_name" oninput="adjustInputWidth(this)">
          <button id="add_items">+</button>
        </form>
      
        <div class="clear-button-container">
          <form action="{{ url_for('clear_checked_items') }}" method="POST">
            <button class="clear-checked-button" type="submit">Clear Checked Items</button>
          </form>
        </div>
        <div class="clear-all-button-container">
          <form action="{{ url_for('clear_all_items') }}" method="POST">
            <button class="clear_all_items-button" type="submit">Clear All</button>
          </form>
        </div>
      </div>      
    </div>


    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
      crossorigin="anonymous">
    </script>
  </body>
</html>